[MASTER]
disable=
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-many-positional-arguments,
    invalid-name,
    import-outside-toplevel,
    line-too-long,
    trailing-whitespace,
    trailing-newlines,
    broad-exception-caught,
    import-error,
    raise-missing-from,
    subprocess-run-check,
    reimported,
    attribute-defined-outside-init,
    f-string-without-interpolation,
    cell-var-from-loop,
    consider-using-from-import,
    unused-variable
